services:
  mariadb:
    container_name: mariadb
    build: 
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb
    volumes:
      - mariadb:/var/lib/mysql  # Container içinde kendi veritabanı data klasörünü oluşturur
    env_file: 
      - .env
    networks:
      - inception
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost --silent || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 60s
  
  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress
    volumes:
      - /home/itulgar/data/wordpress:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx
    ports:
      - "443:443"
    volumes:
      - /home/itulgar/data/wordpress:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always


networks:
  inception:
    name: inception
    driver: bridge
  
volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: /home/itulgar/data/wordpress
      o: bind
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: /home/itulgar/data/mariadb
      o: bind