services:
  mariadb:
    container_name: mariadb
    build: 
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb
    volumes:
      - mariadb_data:/var/lib/mysql  # Container içinde kendi veritabanı data klasörünü oluşturur
    env_file: 
      - .env
    secrets:
      - db_root_password
      - db_password
    networks:
      - inception
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost --silent || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 30s
  
  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress
    volumes:
      - /home/itulgar/data/wordpress:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    secrets:
      - db_password
      - db_root_password
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx
    ports:
      - "443:443"
    volumes:
      - /home/itulgar/data/wordpress:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always


networks:
  inception:
    name: inception
    driver: bridge
  
volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: /home/itulgar/data/wordpress
      o: bind
  mariadb_data:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: /home/itulgar/data/mariadb
      o: bind

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt